.SideBar {
  nav {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-left: 23px;
    margin-top: 56px;
    font-weight: 600;
    align-items: flex-start;
  }
  hr {
    border: none;
    height: 1px;
    margin: 0 15px;
    color: #d9d9d9;
    background-color: #d9d9d9;
  }
}
