.Clock {
  text-align: center;
  margin-top: 31px;
  &__Time {
    font-size: 80px;
    font-weight: 900;
  }
  &__Date {
    font-size: 30px;
    font-weight: 700;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}
