.MenuDuJourItem {
  &__details {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.17;
    max-width: 668px;
    margin: 0 auto 26px;
  }

  &__repas {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
