.MenuDuJour {
  text-align: center;
  svg {
    margin-right: 10px;
  }
  &__titre {
    color: var(--color-secondary);
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 26px;
  }
}
